<ul class="crayons-card grid gap-2 grid-cols-1 s:grid-cols-2 p-4 list-disc">
  <li class="ml-4"><%= community_name %> دیدگاه</li>
  <li class="ml-4"><%= community_name %> پیوند</li>
  <li class="ml-4"><%= community_name %> پیوند</li>
  <li class="ml-4"><%= community_name %> فهرست</li>
  <li class="ml-4"><%= community_name %> سازمان</li>
  <li class="ml-4"><%= community_name %> قسمت پادکست</li>
  <li class="ml-4"><%= community_name %> برچسب</li>
  <li class="ml-4"><%= community_name %> مشخصات کاربر</li>
  <li class="ml-4">asciinema</li>
  <li class="ml-4">کدپن</li>
  <li class="ml-4">CodeSandbox</li>
  <li class="ml-4">DotNetFiddle</li>
  <li class="ml-4">گیت‌هاب Gist, Issue یا مخزن</li>
  <li class="ml-4">Glitch</li>
  <li class="ml-4">اینستاگرام</li>
  <li class="ml-4">JSFiddle</li>
  <li class="ml-4">JSitor</li>
  <li class="ml-4">Loom</li>
  <li class="ml-4">Kotlin</li>
  <li class="ml-4">Medium</li>
  <li class="ml-4">Next Tech</li>
  <li class="ml-4">ردیت</li>
  <li class="ml-4">Replit</li>
  <li class="ml-4">اسلایدشیر</li>
  <li class="ml-4">Speaker Deck</li>
  <li class="ml-4">ساوندکلاود</li>
  <li class="ml-4">اسپاتیفای</li>
  <li class="ml-4">StackBlitz</li>
  <li class="ml-4">Stackery</li>
  <li class="ml-4">Stack Exchange یا Stack Overflow</li>
  <li class="ml-4">توییچ</li>
  <li class="ml-4">توییتر</li>
  <li class="ml-4">Twitter timeline</li>
  <li class="ml-4">ویکی‌پدیا</li>
  <li class="ml-4">ویمیو</li>
  <li class="ml-4">یوتیوب</li>
</ul>
